@import url('https://fonts.googleapis.com/css2?family=Life+Savers:wght@700&display=swap');
@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/mixins";

$body-bg: #f4fbfd;
$link-color: #03718f;
$primary: #03718f;

$theme-colors: (
  primary: #03718f,

);

@import "../node_modules/bootstrap/scss/bootstrap";

// Define styles for keeping footer at bottom
#page-container {
  position: relative;
  min-height: calc(100vh - 2rem);
}

#content-wrap {
  padding-bottom: 60px;    /* Footer height */
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;            /* Footer height */
}

h1, h2, h3, h4, h5 {
  font-family: 'Life Savers', cursive;
}

span, p {
  font-size: 18px;
}

h3 {
  padding-top: 30px;
}

h3.noPad {
  padding-top: 0px;
}

.author:hover {
  text-decoration: none;
}

.author:hover::after {
  content: '🡺'
}

.blurred-text {
  color:transparent;
  text-shadow: 0 0 10px rgba(0,0,0,0.5);
  font-size: 100%;
}

button.heart {
  padding: 0;
  border: none;
  outline: none;
  font: inherit;
  color: inherit;
  background: none
}

