/* Custom css for the tracker form input */



.task-input, .milestone-input, .units-input {
border: 0;
padding: 0px;
margin-left: 10px;
transition: width .35s ease-in-out;
}

.task-input:focus, .milestone-input:focus, .units-input:focus {
outline: none;
border-bottom: 1px solid gray;
}

.units-input {
    size: 4;
}

.item-outline:focus {
border: 1px solid gray;
}

ul.milestone-list, ul.task-list {
    list-style-type: none;
    padding-left: 20px;
}

div.project-form li {
    padding: 5px 0;
}

div.project-form {
    padding-top: 20px;
}

div.project-form button {
    background-color: white;
    border: none;
    color: black;
    padding: 0 5px 0 5px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
}

div.project-form button:hover {
    background-color: #EFEFEF;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    border-radius: 3px;
}

button.add-task:hover::after {
    content: "task";
}

button.add-milestone:hover::after {
    content: "milestone";
}